<div id="toast-notification" class="toast">
        <div class="toast-icon">✨</div>
        <div class="toast-body">
            <h4>Excellent Choice</h4>
            <p>Item added to your panel successfully.</p>
        </div>
    </div>